.container {

}

#main-bio {

}

#contact-info {

}

#bio-image {

}

body {
    background-color: #efeee7;
    color: #333333;
}

header {
    background-color: #333333;
}

h1 {
    color: #eeeeee;
    font-size: 28px;
}